<!--
<div fxLayout="column" 
     fxLayoutAlign="center center"
     [ngClass]="{'table-free': table.state==='free', 
                 'table-busy': table.state==='busy', 
                 'table-reserved': table.state==='reserved'}"
     style="width:100%; height:100%">
  <div flex-item>
    <h1>Table {{ table.number }}</h1>
  </div>
</div>  
-->




<md-grid-list cols="5" rowHeight="5:1">
  <md-grid-tile></md-grid-tile>
  <md-grid-tile></md-grid-tile>
  <md-grid-tile><h1>Table {{ table.number }}</h1></md-grid-tile>
  <md-grid-tile></md-grid-tile>
  <md-grid-tile></md-grid-tile>
</md-grid-list>

<md-grid-list cols="5" rowHeight="5:1">
  <md-grid-tile></md-grid-tile>
  <md-grid-tile></md-grid-tile>
  <md-grid-tile><h3>Seat {{ table.number }}</h3></md-grid-tile>
  <md-grid-tile></md-grid-tile>
  <md-grid-tile></md-grid-tile>
</md-grid-list>


