md-dialog-container {
  border-radius: 10px;
}

md-dialog-title {
  height: 40px;
  background-color: lightgreen;
}

md-dialog-content {
  height: 70px;
}

md-dialog-actions {
  height: 40px;
}

md-icon {
  font-size:45px;
  height:45px;
  width: 45px;
}

dialog-button {
  padding-left: 30px;
}