.home-container {
  display: flex;
  float: left;
  max-width: 1000px;
  height: 100%;
}

.table-container {
  padding-right: 20px;
  padding-bottom: 20px;
  width: 30%;
  min-width: 30%;
}

.mobile-table-container {
  padding-right: 20px;
  padding-bottom: 20px;
  width: 90%;
  min-width: 90%;
}


.table-free {
  background-color: #4CAF50;  //rgb(100,165,0);
}

.table-busy {
  background-color: #FFEB3B;  //rgb(255,165,0);
}

.table-reserved {
  background-color: #F44336;  //rgb(255,75,75);
}

md-card:hover {
//  background-color: rgb(255,255,180);
//  cursor: pointer;
//  opacity: 0.5;
}

.seats-container {
  margin-top: 20px;
}

[hidden] {
  display: none !important; 
}


